<p class="mt-2" style="color: green"><%= notice %></p>

<h2><%= @article.title %></h2>
<%= @article.description %>

<div class="mt-5">
  <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-outline-dark" %>
  <%= link_to "Back to articles", articles_path, class:"btn btn-outline-dark"%>
  <%= button_to "Destroy this article", @article, method: :delete, class:"btn btn-outline-danger mt-2" %>
</div>
