<!DOCTYPE html>
<html>
  <head>
    <title>Newspaper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container pt-5">
      <nav class="navbar fixed-top navbar-light bg-light justify-content-center">
        <%= link_to "Home", articles_path, class: "navbar-brand pl-5" %>
        <%= link_to "About", home_index_path, class: "navbar-brand lp-5" %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
